<!DOCTYPE html>
<html>

<head>
  <title> Sources </title>
  <meta charset="UTF-8">

</head>

<body>
<style>

</style>

  <a href="https://www.mentalhealth.gov/">Mentalhealth.gov</a><br>
  <a href="https://suicidepreventionlifeline.org/">Suicide Prevention Lifeline</a><br>
  <a href="https://www.hudexchange.info/housing-and-homeless-assistance/">Housing and Homeless Assistance</a><br>
  <a href="https://www.rainn.org/">Rainn(Rape, Abuse & Incest National Network)</a><br>
  <a href="https://www.thehotline.org/">The National Domestic Violence Hotline</a><br>
  <a href="https://www.samhsa.gov/find-help/national-helpline"> SAMHSA(SubastanceAbuseandMentalHealthServicesAdministration)</a><br>
  <a href="https://www.nationaleatingdisorders.org/identity-eating-disorders">NEDA(NationalEatingDisorders)</a><br>
</body>
